/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

.post .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}

.post .hljs-comment,
.post .hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.post .hljs-doctag,
.post .hljs-keyword,
.post .hljs-formula {
  color: #c678dd;
}

.post .hljs-section,
.post .hljs-name,
.post .hljs-selector-tag,
.post .hljs-deletion,
.post .hljs-subst {
  color: #e06c75;
}

.post .hljs-literal {
  color: #56b6c2;
}

.post .hljs-string,
.post .hljs-regexp,
.post .hljs-addition,
.post .hljs-attribute,
.post .hljs-meta-string {
  color: #98c379;
}

.post .hljs-built_in,
.post .hljs-class .hljs-title {
  color: #e6c07b;
}

.post .hljs-attr,
.post .hljs-variable,
.post .hljs-template-variable,
.post .hljs-type,
.post .hljs-selector-class,
.post .hljs-selector-attr,
.post .hljs-selector-pseudo,
.post .hljs-number {
  color: #d19a66;
}

.post .hljs-symbol,
.post .hljs-bullet,
.post .hljs-link,
.post .hljs-meta,
.post .hljs-selector-id,
.post .hljs-title {
  color: #61aeee;
}

.post .hljs-emphasis {
  font-style: italic;
}

.post .hljs-strong {
  font-weight: bold;
}

.post .hljs-link {
  text-decoration: underline;
}
